*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: "Karla";

}
body{
  background-color: hsl(148, 38%, 91%);
}

.karla-uniquifier{ 
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.container {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 650px;
  margin-left: 300px;
}

/* Form Styling */
.contact{
margin:50px;
}
.contact-form h2 {
  margin-bottom: 5rem;
  font-size: 1.5rem;
}
.name{
 display:flex;
 flex-direction:row;
 justify-content:space-between;
 margin-bottom:20px;
}

.firstname, .lastname{
width: 100%;
margin-left:0.50rem;
justify-items: space-between;
}
.form-group {
  margin-bottom:1rem;
}

.form-group.full-width {
  width: 80%;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
}


textarea {
  resize: none;
  height: 100px;
  width:125%;
}

input:focus,
textarea:focus {
  border-color: #bfcac0;
}

/* Radio Buttons */
.radio-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.50rem;
}
input[type=radio] {
  margin:0;
}

.radio-group label {
  display: flex; 
  align-items:flex-start;
  gap: 0.5rem;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 0.50rem;
  width: 100%;
  padding:0.3rem 0.5rem 0.5rem  0.5rem;
  font-size:1rem;
  outline:none;
}

/* Checkbox */
.checkbox-group {
  display:flex;
  align-items:center;
  gap: 0.5rem;
}

.checkbox-group input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

/* Submit Button */
.submit-btn {
  background-color: hsl(169, 82%, 27%);
  color: #ffffff;
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #1b5e20;
}

/* TABLET RESPONSIVENESS*/
@media (max-width: 875px) {

  .container{
    width:90%;
    max-width:800px;
    margin-left:50px;
    }
    .radio-group {
      display: flex;
      flex-direction:row;
  
  }
  .name{
    display:flex;
    flex-direction:row;
  }
  
  textarea {
    resize: none;
    height: 120px;
  }

}

















/* MOBILE RESPONSIVENESS*/
@media (max-width: 375px)  {
  .container{
  width:90%;
  max-width:350px;
  margin:10px 20px;
  }
  .radio-group {
    display: flex;
    flex-direction:column;

}
.name{
  display:flex;
  flex-direction:column;
}

textarea {
  resize: none;
  height: 150px;
}
}